{% extends "base.html" %}
{% block content %}
    <div class="container mt-5 text-center">
        <h1>Welcome, {{ user.first_name }}!</h1>
<p class="lead">We're glad you're here. How are you feeling today?</p>
        <a href="{% url 'checkin-home' %}" class="btn btn-primary btn-lg mt-4 d-inline-flex align-items-center justify-content-center gap-3 px-5 py-4">
        <img src="/media/checkinbutton.jpg" alt="Check In" style="height: 80px; width: auto;">
        <span class="fs-3">Check In</span>
    </a>
    <a href="{% url 'journal-home' %}" class="btn btn-secondary btn-lg mt-4 d-inline-flex align-items-center justify-content-center gap-3 px-5 py-4">
        <img src="/media/journalhomebutton.jpg" alt="View Journal" style="height: 80px; width: auto;">
        <span class="fs-3">View Journal</span>
    </a>
</div>
{% endblock content %}