{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-body">
            <h3 class="card-title mb-4 text-start text-primary">Create Post</h3>
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form.as_p }}
                </fieldset>
                <div class="mt- ms-4">
                    <button class="btn btn-primary" type="submit" style="margin-left: 22rem;">Post</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}